<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../mui/css/mui.min.css">
    <style type="text/css">
			#list {
				/*避免导航边框和列表背景边框重叠，看起来像两条边框似得；*/
				margin-top: -1px;
			}
		</style>
</head>
<body>
    <div id="slider" class="mui-slider">
        <div class="mui-slider-group mui-slider-loop">
			<div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="http://127.0.0.1:8081/mui-master/examples/hello-mui/images/yuantiao.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="http://127.0.0.1:8081/mui-master/examples/hello-mui/images/shuijiao.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="http://127.0.0.1:8081/mui-master/examples/hello-mui/images/muwu.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="http://127.0.0.1:8081/mui-master/examples/hello-mui/images/cbd.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="http://127.0.0.1:8081/mui-master/examples/hello-mui/images/yuantiao.jpg" /></a></div>
			<div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="http://127.0.0.1:8081/mui-master/examples/hello-mui/images/shuijiao.jpg" /></a></div>
        </div>
        <div class="mui-slider-indicator">
            <div class="mui-indicator mui-active"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
        </div>
    </div>
<div class="mui-content">
    <ul class="mui-table-view mui-grid-view mui-grid-9">
        <ul class="mui-table-view mui-grid-view mui-grid-9">
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
            <span class="mui-icon mui-icon-home"></span>
            <div class="mui-media-body">公告公示栏</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="/goVillageInfo">
            <span class="mui-icon mui-icon-email"><span class="mui-badge">5</span></span>
            <div class="mui-media-body">小区信息栏</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
            <span class="mui-icon mui-icon-location"></span>
            <div class="mui-media-body">业主注册登记</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
            <span class="mui-icon mui-icon-search"></span>
            <div class="mui-media-body">问卷调查</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
            <span class="mui-icon mui-icon-phone"></span>
            <div class="mui-media-body">业主注册登记</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
            <span class="mui-icon mui-icon-gear"></span>
            <div class="mui-media-body">联系我们</div></a></li>
    </ul>
</div>

<script src="../mui/js/mui.min.js"></script>
<script src="../mui/js/update.js" type="text/javascript" charset="utf-8"></script>
<script>
	var slider = mui('#slider');
    slider.slider({
      interval: 5000//自动轮播周期，若为0则不自动播放，默认为0；
    });

</script>
</body>
</html>