<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../mui/css/mui.min.css">
    <style type="text/css">
			#list {
				/*避免导航边框和列表背景边框重叠，看起来像两条边框似得；*/
				margin-top: -1px;
			}
		</style>
</head>
<body>
<div class="mui-content">

    <div class="mui-slider">
        <div class="mui-slider-group mui-slider-loop" id="loop">
            <!--<div class="mui-slider-item"><a href="#"><img src="../../image/information_center3.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="../../image/information_center1.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="../../image/information_center2.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="../../image/information_center3.jpg" /></a></div>
            <div class="mui-slider-item"><a href="#"><img src="../../image/information_center1.jpg" /></a></div>-->
        </div>
        <div class="mui-slider-indicator" id="slider">
            <!--<div class="mui-indicator mui-active"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>-->
        </div>
    </div>

    <ul class="mui-table-view mui-grid-view mui-grid-9">
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="goBulletinBar">
            <!--<span class="mui-icon mui-icon-home"></span>-->
            <image style="width: 35px" src="../image/bulletin-bar.png"></image>
            <div class="mui-media-body">公告公示栏</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="goVillageInfo">
            <!--<span class="mui-icon mui-icon-email"></span>-->
            <image style="width: 35px" src="../image/vallage-info.png"></image>
            <div class="mui-media-body">小区信息栏</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
            <!--<span class="mui-icon mui-icon-location"></span>-->
            <image style="width: 35px" src="../image/owner-registration.png"></image>
            <div class="mui-media-body">业主注册登记</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="goQuestion">
            <!--<span class="mui-icon mui-icon-search"></span>-->
            <image style="width: 35px" src="../image/question.png"></image>
            <div class="mui-media-body">问卷调查</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="goContactUs">
            <!--<span class="mui-icon mui-icon-gear"></span>-->
            <image style="width: 35px" src="../image/contact-us.png"></image>
            <div class="mui-media-body">联系我们</div></a></li>
    </ul>
</div>

<script src="../lib/zui/lib/jquery/jquery.js"></script>
<script src="../mui/js/mui.min.js"></script>
<script src="../mui/js/update.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/information_center.js"></script>

</body>
</html>