<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<iframe id="ifname" width="100%" height="1600px"></iframe>
<script src="../lib/zui/lib/jquery/jquery.js"></script>
<script th:inline="javascript">
    var fileId = [[${fileId}]];
    $(function(){
        var source = '/source/selectPdf?fileId=' + fileId;
        $('#ifname').attr('src', '../PDF.js/web/viewer.html?file=' + encodeURIComponent(source));
    });
</script>
</body>
</html>